@{
    Layout = null;
}

@model CertificateModel


<div class="d-flex cert mb-3">
    <svg class="align-self-center mx-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <path fill-rule="evenodd" d="M13.818 11.072c-.99 0-1.712.054-1.731.056h-.003c-2.945.215-4.653 1.715-4.953 1.979l-.042.036-.002.002c-.143.11-.304.165-.389.191a2.957 2.957 0 01-.324.077c-.213.04-.457.07-.677.091-.375.037-.74.057-.855.062l-1.266.057c-.28.014-.416.112-.488.19a.566.566 0 00-.14.286.753.753 0 01-.024.11c-.064.215-.112.638-.14 1.094-.027.421-.033.793-.034.884v.488c.02.715.388 1.21.803 1.552a3.203 3.203 0 00.708.441h.07a3.438 3.438 0 016.845.001h9.646a3.438 3.438 0 016.844-.008h.686c.388-.194.62-.565.756-1.005.142-.458.14-.88.14-.931v-.016l.002-.377c-.006-.246-.125-.532-.564-.855-.457-.338-1.2-.663-2.282-.94a21.043 21.043 0 00-3.026-.514 7.256 7.256 0 01-3.083-1.164c-.85-.591-1.98-1.124-2.14-1.2l-.006-.002c-.498-.222-1.204-.374-2.002-.466-.79-.091-1.62-.12-2.33-.12zm12.345 8.189a1.938 1.938 0 11-3.838-.54 1.938 1.938 0 013.838.54zm-5.149.908a3.439 3.439 0 006.463-.008h1.036a.75.75 0 00.303-.064l.079-.035h.001c.984-.43 1.438-1.29 1.646-1.964a4.773 4.773 0 00.206-1.386l.002-.377v-.02c-.013-.848-.476-1.53-1.173-2.045-.68-.503-1.635-.888-2.801-1.187h-.002a22.561 22.561 0 00-3.22-.55 5.82 5.82 0 01-2.353-.871 15.323 15.323 0 00-1.595-.955 21.54 21.54 0 00-.748-.374l-.052-.025-.02-.01-.017-.007c-.707-.317-1.595-.491-2.45-.59-.867-.1-1.758-.13-2.501-.13-1.03 0-1.787.056-1.845.06a10.343 10.343 0 00-4.244 1.242c-.495.272-.88.539-1.15.746a7.448 7.448 0 00-.36.294c-.03.008-.07.017-.12.026a6.761 6.761 0 01-.549.073c-.312.03-.596.046-.701.052l-.041.002a.78.78 0 00-.034.001l-1.268.058h-.002c-.665.032-1.171.296-1.516.668a2.069 2.069 0 00-.517 1.04c-.109.398-.158.953-.185 1.377-.029.461-.035.864-.036.957v.536c.031 1.291.719 2.16 1.347 2.68a4.703 4.703 0 001.226.727l.027.01.01.004.003.001h.002s.001.001.249-.707l-.248.708a.75.75 0 00.248.042h.409a3.439 3.439 0 006.46.001h10.031zm-11.34-.92a.748.748 0 00-.017.103 1.938 1.938 0 01-3.808-.004 1.954 1.954 0 01-.033-.357 1.937 1.937 0 113.858.258z" clip-rule="evenodd"></path>
    </svg>
    <div class="flex-grow-1 align-self-center">
        <p class="m-0 pol-type">@Model.PolicyType</p>
        <p class="m-0">@Model.VehicleName @Model.VehicleModel @Model.VehicleVersion</p>
        <p class="m-0">policy No. @Model.PolicyNo - Starts on @Model.PolicyDate.ToString("ddMMMyyyy")</p>
    </div>
    <input type="hidden" id="bill_@Model.PolicyNo" value="@Model.PolicyNo" />
    @if (Model.VehicleWarranty.Equals("Available"))
    {
        @if (Model.PolicyDate <= DateTime.Today)
        {
            <a class="btn btn-outline-warning align-self-center me-4 px-4" id="manageClaimBtn" href="@Url.Action("MyClaims","Claim", new { policyNo = Model.PolicyNo })">Manage Claims</a>
           
        }
        else
        {
            <a class="btn btn-outline-warning align-self-center me-4 px-4 disabled" id="manageClaimBtn" href="@Url.Action("MyClaims","Claim", new { policyNo = Model.PolicyNo })">Manage Claims</a>
        }

        <a class="btn btn-outline-warning align-self-center me-4 px-4" href="@Url.Action("Details","Certificate", new { id = Model.Id })">View details</a>

        <a class="btn btn-outline-warning align-self-center me-4 px-4" href="@Url.Action("Index","Bill", new { policyNo = Model.PolicyNo })">Bill</a>
    
    }
    else if (Model.VehicleWarranty.Equals("Pending"))
    {
        <a class="btn btn-outline-warning align-self-center me-4 px-4" href="@Url.Action("Details","Certificate", new { id = Model.Id })">View details</a>
    }
    else
    {
        <a class="btn btn-warning align-self-center me-4 px-4" href="@Url.Action("Details","Certificate", new { id = Model.Id })">Pay Now</a>
    }

</div>
