@using VehicleInsuranceClient.Areas.Employee.Models;
@model List<CompanyExpenseAdminModel>
<!-- Title -->
<h3 class="title">Company Expense</h3>

<div class="container border my-4 p-4">
    <table id="myTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Date Of Expense</th>
                <th>Type Of Expense</th>
                <th>Ammount Of Expense</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CompanyExpenseAdminModel item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfExpense)
                    </td>
                    <td>
                        @item.TypeOfExpense
                    </td>
                    <td>
                        @item.AmountOfExpense
                    </td>
                    <td>
                    @*    <button type="btn m-2 btn-sm btn-warning" class="btn btn-info">@Html.ActionLink("Detail", "CompanyExpenseDetail", new {  CEId=item.Id })</button>*@
                        <a type="button" class="btn m-2 btn-sm btn-info" href="@Url.Action("CompanyExpenseDetail", "CompanyExpense", new { claimNo=item.ClaimNo })">Detail</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Date Of Expense</th>
                <th>Type Of Expense</th>
                <th>Ammount Of Expense</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table>
</div>

<script>
    $(function () {
        $('#myTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "order": [
                [0, 'desc']
            ],
            "info": true,
            "autoWidth": false,
        });
    }());
</script>