@using VehicleInsuranceClient.Areas.Employee.Models;
@model List<CertificateAdminModel>
<!-- Title -->
<h3 class="title">Certificates</h3>

<div class="container border my-4 p-4">
    <table id="myTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Customer Name</th>
                <th>Policy No.</th>
                <th>Policy Type</th>
                <th>Vehicle Info</th>
                <th>Vehicle Warranty</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CertificateAdminModel item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.CustomerName
                    </td>
                    <td>
                        @item.PolicyNo
                    </td>
                    <td>
                        @item.PolicyType
                    </td>
                    <td>
                        @item.VehicleName @item.VehicleModel @item.VehicleVersion
                    </td>
                    <td>
                        @item.VehicleWarranty
                    </td>
                    <td>
                        <a type="button" class="btn btn-info" href="@Url.Action("CertificateDetail", "Certificate", new { CertId=item.Id })">Details</a>
                        <a type="button" class="btn btn-primary" @*href="@Url.Action("Index", "Claim", new { CertId=item.Id })"*@>Manage Claim</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>No.</th>
                <th>Customer Name</th>
                <th>Policy No.</th>
                <th>Policy Type</th>
                <th>Vehicle Info</th>
                <th>Vehicle Warranty</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table>
</div>

<script>
    $(function () {
        $('#myTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "order": [
                [0, 'desc']
            ],
            "info": true,
            "autoWidth": false,
        });
    }());
</script>